<div class="container">
    <h3>You Would Really Like These:</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="book-card">
                <img src="book1.jpg" alt="Book 1" class="book-image">
                <h4>Book Title 1</h4>
                <p>Description of Book 1.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="book-card">
                <img src="book2.jpg" alt="Book 2" class="book-image">
                <h4>Book Title 2</h4>
                <p>Description of Book 2.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="book-card">
                <img src="book3.jpg" alt="Book 3" class="book-image">
                <h4>Book Title 3</h4>
                <p>Description of Book 3.</p>
            </div>
        </div>
    </div>
    <h3>Popular Books:</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="book-card">
                <img src="book1.jpg" alt="Book 1" class="book-image">
                <h4>Book Title 1</h4>
                <p>Description of Book 1.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="book-card">
                <img src="book2.jpg" alt="Book 2" class="book-image">
                <h4>Book Title 2</h4>
                <p>Description of Book 2.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="book-card">
                <img src="book3.jpg" alt="Book 3" class="book-image">
                <h4>Book Title 3</h4>
                <p>Description of Book 3.</p>
            </div>
        </div>
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
          <p>"Good friends, good books, and a sleepy conscience: this is the ideal life."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Mark Twain
        </figcaption>
    </figure>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>