<style>
        * {
            font-family: 'Playfair Display', serif;
        }
        body {
            background-color: #21897e;
        }
        .container {
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
        .book-card {
            margin: 10px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            text-align: center;
            background-color: #938581;
            transition: transform 0.2s;
        }
        .book-card:hover {
            transform: scale(1.05);
        }
        .book-image {
            max-width: 100%;
            height: 300px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        h2,
        h3, 
        h4 {
            color: #111111;
            margin-top: 10px;
        }
        h3 {
            font-weight: bolder;
        }
        p {
            color: #111111;
        }
        .blockquote {
            font-style: italic;
        }
        figure {
            margin-top: 20px;
        }
        a {
            color: black;
            text-decoration: none;
        }

</style>

<div class="container">
    <h3>You Would Really Like These:</h3>
    <div class="row">
        <div class="col-md-4">
            <a href="/singlebook/9789573481416" dataId="9789573481416" id="book1ISBN">
                <div class="book-card">
                    <h4 id="bookLike1Title"></h4>
                    <img class="book-image" alt="Book Cover" id="book1Image"><!-- Add image through API -->
                    <h5 id="bookLike1Author"></h5> <!-- Add author through API -->
                </div>
            </a>
        </div>
        
        <div class="col-md-4">
            <a href="/singlebook/9782298069631" dataId="9782298069631" id="book2ISBN">
                <div class="book-card">
                    <h4 id="bookLike2Title"></h4>
                    <img class="book-image" alt="Book Cover" id="book2Image"><!-- Add image through API -->
                    <h5 id="bookLike2Author"></h5> <!-- Add author through API -->
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/singlebook/9780879511647" dataId="9780879511647" id="book3ISBN">
                <div class="book-card">
                    <!--  <img src="book3.jpg" alt="Book 3" class="book-image"> Add image through API -->
                    <h4 id="bookLike3Title"></h4>
                    <img class="book-image" alt="Book Cover" id="book3Image"><!-- Add image through API -->
                    <h5 id="bookLike3Author"></h5> <!-- Add author through API -->
                </div>
             </a>
        </div>
    </div>
    <h3>Popular Books:</h3>
    <div class="row">
        <div class="col-md-4">
            <a href="/singlebook/1735056650" dataId="1735056650" id="bookPop1ISBN">
                <div class="book-card">
                    <!--  <img src="book1.jpg" alt="Book 1" class="book-image"> Add image through API -->
                    <h4 id="bookPop1Title"></h4>
                    <img class="book-image" alt="Book Cover" id="bookPop1Image"><!-- Add image through API -->
                    <h5 id="bookPop1Author"></h5> <!-- Add author through API -->
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/singlebook/9781306726849" dataId="9781306726849" id="bookPop2ISBN">
                <div class="book-card">
                    <!--  <img src="book2.jpg" alt="Book 2" class="book-image"> Add image through API -->
                    <h4 id="bookPop2Title"></h4>
                    <img class="book-image" alt="Book Cover" id="bookPop2Image"><!-- Add image through API -->
                    <h5 id="bookPop2Author"></h5> <!-- Add author through API -->
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="/singlebook/1735056693" dataId="1735056693" id="bookPop3ISBN">
                <div class="book-card">
                    <!--  <img src="book3.jpg" alt="Book 3" class="book-image"> Add image through API -->
                    <h4 id="bookPop3Title"></h4>
                    <img class="book-image" alt="Book Cover" id="bookPop3Image"><!-- Add image through API -->
                    <h5 id="bookPop3Author"></h5> <!-- Add author through API -->
                </div>
            </a>
        </div>
    </div>
    <figure class="text-center">
        <blockquote class="blockquote">
          <p>"Good friends, good books, and a sleepy conscience: this is the ideal life."</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Mark Twain
        </figcaption>
    </figure>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="./js/homepageApiRequests.js"></script>