<style>
        * {
            font-family: 'Playfair Display', serif;
        }
        body {
            background-color: #ffffff;
        }
        .container {
            background-color: #21897e;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
        .form-container {
            max-width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #d3d3d3; 
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            background-color: #ffffff;
        }
        .form-container h2 {
            text-align: center;
            color: #333; 
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            color: #555; 
        }
        .form-control {
            border-radius: 5px;
        }
        .btn-custom {
            background-color: #111111; 
            color: #ffffff;
            border: none;
            border-radius: 5px;
        }
        .btn-custom:hover {
            background-color: #938581; 
        }
</style>

<div class="container">
    <div class="row">
        <!-- Login Form -->
        <div class="col-md-6 mx-auto form-container">
            <h2>Login</h2>
            <form class="loginForm">
                <div class="form-group">
                    <label for="loginEmail">Email</label>
                    <input type="text" class="form-control" id="loginEmail" placeholder="Enter your cool username">
                </div>
                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" class="form-control" id="loginPassword" placeholder="Enter your super secret secure password">
                </div>
                <button type="submit" class="btn btn-custom btn-block">Login</button>
            </form>
        </div>

        <!-- Sign Up Form -->
        <div class="col-md-6 mx-auto form-container">
            <h2>Sign Up</h2>
            <form class="signupForm">
                <div class="form-group">
                    <label for="signupEmail">Email</label>
                    <input type="text" class="form-control" id="signupEmail" placeholder="Enter your most used email">
                </div>
                <div class="form-group">
                    <label for="signupUsername">Username</label>
                    <input type="text" class="form-control" id="signupUsername" placeholder="Choose an awesome username">
                </div>
                <div class="form-group">
                    <label for="signupPassword">Password</label>
                    <input type="password" class="form-control" id="signupPassword" placeholder="Enter an ultra secret password">
                </div>
                <button type="submit" class="btn btn-custom btn-block">Sign Up</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="./js/login.js"></script> <!-- Javascript code that handles these forms -->