<style>
     * {
      font-family: 'Playfair Display', serif;
    }
    body {
      background-color: #21897e;
    }
    p {
      color: #9f9f9f;
    }
    .star-rating {
      color: goldenrod;
    }
    li {
      margin: 8px;
      border-radius: 5px;
    }
</style>

<div class="container mt-5">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <img src="book1_cover.jpg" alt="Book 1 Cover" class="img-fluid">
        </div>
        <div class="col-md-9">
          <h4 class="mb-2">Book 1 Title</h4>
          <p class="mb-2">Author: Author Name</p>
          <div class="d-flex">
            <p class="mr-2">My Rating:</p>
            <div class="star-rating">
              ★★★★☆
            </div>
          </div>
        </div>
      </div>
    </li>
   </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
