<style>
     * {
      font-family: 'Playfair Display', serif;
    }
    body {
      background-color: #21897e;
    }
    p {
      color: #9f9f9f;
    }
    li {
      margin: 7px;
      border-radius: 5px;
    }
    h2 {
      text-align: center;
    }
</style>

<div class="container mt-5">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3">
          <img src="book1_cover.jpg" alt="Book 1 Cover" class="img-fluid">
        </div>
        <div class="col-md-9">
          <h4 class="mb-1">Title: Book Title</h4>
          <p class="mb-1">Author: Author Name</p>
          <p class="mb-1">Year Published: 2023</p>
          <p class="mb-1">Number of Pages: 250</p>
        </div>
      </div>
    </li>
    <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <img src="book1_cover.jpg" alt="Book 1 Cover" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h4 class="mb-1">Title: Book Title</h4>
            <p class="mb-1">Author: Author Name</p>
            <p class="mb-1">Year Published: 2023</p>
            <p class="mb-1">Number of Pages: 250</p>
          </div>
        </div>
      </li>
   </ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
